/* Import a Google Font */
@import url('https://fonts.googleapis.com/css?family=Overpass:400,900&font-display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:400,800&font-display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,800');

// ***** TYPE STYLES *****
$overpass-font: 'Overpass', sans-serif;
$mukta-font: 'Mukta', sans-serif;

$pastel-purple: #F0F0F0;
$neon-blue: #F7F7F7;
$dark-purple: #CBCBCB;
$dark-teal: #5C5C5D;
$natural-light-gray: #F0F0F0;
$natural-gray: #C5CAD3;
$natural-dark-gray: #5C5C5D;
$gradient: linear-gradient(315deg, $pastel-purple 0%, $dark-purple 52.54%, $neon-blue 100%);


// Updated primary colors (mon amie)
$hard-pink: #F6CDC3;
$soft-pink: #F6E6DF;
$pale-pink: #FDF5F1;
$navy: #033B68;
$white: #ffffff;
$black: #000000;
$white: #FFFFFF;
$montserrat-font: 'Montserrat', sans-serif;
$montserrat-medium-font: 'Montserrat Medium', sans-serif;
$lato-font: 'Lato', sans-serif;




// Tertiary Color
$bright-red: #DF2742;

body {
    color: $black;
    font-family:$lato-font;
}

strong{
    color: $natural-dark-gray;
}

.content{
    strong{
        color: $natural-dark-gray;
    }

    h1 {
        font-family: $montserrat-font;
        font-size: 38px;
        font-weight: bold;
        color: $navy;
    };

    h2 {
        font-family: $montserrat-font;
        font-size: 30px;
        font-weight: bold;
        color: $navy;
    }

    h3 {
        font-family: $montserrat-font;
        font-size: 20px;
        font-weight: bold;
        color: $navy;
    }

    h4 {
        font-family: $lato-font;
        font-size: 17px;
        font-weight: bold;
        color: $black;
    }

    p {
        font-family: $lato-font;
        font-size: 17px;
        font-weight: normal;
        color: $black;
    }

    // .btn-text{
    //     font-family: $mukta-font;
    //     font-size: 17px;
    //     font-weight: normal;
    //     color: $dark-purple;
    // }


    // .small-btn-text{
    //     font-family: $mukta-font;
    //     font-size: 14px;
    //     font-weight: normal;
    //     color: $dark-purple;
    // }

    .footer-header{
        text-transform: uppercase;
        font-family: $montserrat-font;
        font-size: 14px;
        font-weight: 500;
        color: $black;
    }

    .footer-text{
        text-transform: uppercase;
        font-family: $montserrat-font;
        font-size: 14px;
        font-weight: bold;
        color: $black;
    }

    .sub-header{
        font-family: $montserrat-font;
        font-size: 14px;
        font-weight: normal;
        color: $black;
    }

    .sub-header-bold{
        font-family: $montserrat-font;
        font-size: 14px;
        font-weight: bold;
        color: $black;
    }

    .sub-text{
        font-family: $montserrat-font;
        font-size: 14px;
        font-weight: normal;
        color: $black;
    }

    // .sub-text-bold{
    //     font-family: $mukta-font;
    //     font-size: 14px;
    //     font-weight: bold;
    //     color: $dark-teal;
    // }

    .error{
        font-family: $mukta-font;
        font-size: 14px;
        color: $bright-red;
    }

    .primary-btn{
        cursor: pointer;
        height: 49px;
        background-color: $hard-pink;	
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        color: $black;
        font-family: $montserrat-font;
        font-size: 16px;
        line-height: 19px;	
        text-align: center;
        border: none;
        border-radius: 1px;
        text-transform: uppercase;
        font-weight: bold;
        max-width: 450px; 
    }

    .primary-btn:hover{
        span {
            background: $pale-pink;
            padding: 2px;
        }
    }

    .primary-btn:active {
        span {
            background: $pale-pink;
            padding: 2px;
        }
    }

    .submitting.primary-btn {
        span {
            background: transparent;
        }
    }

    
    .disabled-btn{
        background-color: $pale-pink;
        color: $hard-pink;	
        border: none;
        font-family: $montserrat-font;
        font-size: 16px;
        line-height: 19px;	
        text-align: center;
        border-radius: 1px;
        opacity: 1;
        text-transform: uppercase;
        font-weight: bold; 
    }
}


@include mobile{
    .content{
        h1 {
            font-size: 38px;
        };
    
        h2 {
            font-size: 30px;
        }
    
        h3 {
            font-size: 20px;
        }
    
        h4 {
            font-size: 17px;
        }
    
        p {
            font-size: 17px;
        }
    }
}
