.landing-page {
    .benefits {
        .content {
            margin: 5px 63px;
            margin-bottom: 30px auto;
            max-width: 1250px;
        }
        
        .benefits-msg{
            max-width: 600px; 
            margin: 0px auto;
            margin-bottom: 20px;
        }
    
        img {
            // height: 105px;	
            // width: 291;
        }

        .title {
            padding-bottom: 30px;
        }

        h2 {
            font-weight: normal;
            text-transform: uppercase;
        }

        h3 {
            font-weight: normal;
            text-transform: uppercase;
        }
        h4 {
            max-width: 220px;
            margin: auto;
            font-weight: normal;
        }



        // h2 {
        //     text-transform: uppercase;
        // }

        // .background-detail-left {

        // }

        // .background-detail-right {

        // }
    }

    @include mobile {
        .benefits {
            padding: 3rem 3rem 5rem;
            padding-top: 0px;

            .title{
                margin-top: 45px;
                margin-bottom: 25px;
            }
        
            .content {
                margin: auto;
                text-align: center;
            }

            .columns {                
                .column{
                    margin: 0px;
                    padding: 30px 0px;
                }
            }
            
            img {
                height: 121px;
            }

            .benefits-msg{
                margin-bottom: 30px;
            }
        }
    }
}