.cart-item {
  position: relative;

  .item-picture {
    margin-left: 0px;
    margin-right: 22px;
    height: 130px;
    width: 130px;
  };
  
  .item-details:first-child {
    padding-top: 14px;
    padding-bottom: 9px;
    height: 108px;
  };

  .variants{
    span {
      display: block;
    }
  }
  
  .item-product-total {
    padding-top: 107px;
  };

  .item-product-selector {
    padding-top: 114px;
  };

  .media {
    border-top: 1px solid $natural-light-gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;

    .close{
      cursor: pointer;
      color: $dark-purple;
      text-decoration: underline;

      .icon{
        height: 24px;
        width: 24px;
        margin-left: 5px;
        border: 1px solid $dark-teal;
        cursor: pointer;

        .close-icon{
            max-width: 40%;
            padding-top: 0.5px;
        }
      }
    }

    .close:hover{
      color: $pastel-purple
    }

    .close:active{
      color: $dark-purple
    }
  };

  .close-btn{
    height: 23px;
    width: 23px;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    background-color: #F2F2F2;
    margin-left: 10px;
  }

  .modal.is-active{
    z-index: 9999;  
  }

  .modal-background {
    background: linear-gradient(270deg, $neon-blue 0%, $dark-purple 49.45%, $pastel-purple 100%);
    opacity: 0.5;
  }

  .quantity-border{
    border: .5px solid $natural-light-gray;
    position: absolute;
    right: 0;
    left: 0;
    top: 200px;
  }

  .box {
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 32px;
    border: 4px solid $natural-light-gray;
    color: $natural-dark-gray;

    .icon{
      height: 24px;
      width: 24px;
      border: 1px solid $dark-teal;
      cursor: pointer;

      .close-icon{
          max-width: 40%;
          padding-top: 0.5px;
      }
    }
  
    .closes-btn{
      position: absolute;
      right: 15px;
      top: 10px;
    }

    .modal-title {
      margin: auto;
      h3{
        font-size: 20px;
        margin-bottom: 25px;
      }
    }

    .remove-cta{
      margin-left: 8px; 
      margin-bottom: 8px; 
      height: 56px;
      width: 286px;
    }

    .keep-cta{
      margin-right: 8px;
      margin-bottom: 8px;
      height: 56px;	
      width: 286px;
    }  
    
    .columns {
      margin-left: 100px;
    }
    
    .delete-item-price{
      margin-top: 6px;
      margin-bottom: 8px;
      font-size: 17px;
    }

    .delete-item-img{
      max-width: 130px;
      width:100%;
      height: auto;
    }
  }
}

.cart-item:last-of-type {
  border-bottom: 1px solid $natural-light-gray;
};

@include mobile {
  article:after {
    content: "";
    position: absolute;
    right: 0px;
    left: 0px;
    top: 190px;
    border-bottom: 1px $natural-gray;
  }

  .cart-item {
    line-height: 1.25;

    .item-details-holder{
      padding-right: 0px;
    }

    .item-details:first-child {
      height: 80px;
      padding-top: 10px;
  
    };

    .media {
      padding-top: 40px;
    }

    .media-content {
      overflow-x: visible;
      overflow-y: visible;
    }
    .item-picture {
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 15px;
      width: 130px;
      height: 130px;
    };

    .product-name{
      margin-top: 10px;
    };

    .item-product-selector {
      margin-top: 61px;
      padding: 0px;
      position: absolute;
      left: 0;
      top: 160px;
    };

    .close{
      position: absolute;
      right: 0;
      top: 15px;
      cursor: pointer;
    }
    
    .item-details:first-child {
      padding-top: 15px;
      padding-bottom: 0px;
      margin-bottom: 0px;
    };
    
    .item-product-total {
      padding-top:188px;
      margin-bottom: 0px;
    };

    .modal-background {
      display: block;
      background: linear-gradient(270deg, $neon-blue 0%, $dark-purple 49.45%, $pastel-purple 100%);
      opacity: 0.5;
    }

    .box {
      top: 7.5%;

      .modal-title{
        margin-top: 15px;
      }
      .close-btn{
        position: absolute;
        right: 5px;
        top: 6px;
      }

      .columns {
        margin-left: 0px;
      }

      .remove-cta{
        height: 56px;	
        // width: 286px;
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 13px;
      }
      
      .keep-cta{
        height: 56px;	
        // width: 286px;
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
      }  
    };
  };
}

@media (max-width: 320px) {
  .cart-item {
    font-size: 12px;

    .product-name{
      width: 140%;
    }
    
    .item-datails-area{
      width: 120%;
      padding-right: 0%
    }
  }
}
