.cart {
  min-height: 577px;
  margin-bottom: 85px;
  margin-top: 30px;

  .section {
    padding: 2rem 1.5rem;
}

  .sticky{
    top: 50px;
    z-index: 1;
  }

  .my-cart {
    font-size: 20px;	
    font-weight: bold;
    
  };

  .place-order-cta {
    display: none;
    height: 56px;	
    width: 100%;
    // width: 192px;
  }
  
  .disabled-order-cta{
    display: none;   
  }

  .consent-msg{
    border: 2px solid $natural-light-gray;
    padding: 20px;

    a{
      color: $dark-purple;
      text-decoration: underline;
    }
    
    a:hover{
      color: $pastel-purple
    }

    a:active{
      color: $dark-purple
    }
  }
}

.cont-shopping {
  margin-top: 19px;
  height: 56px;	
  width: 286px;
};

.checkout-consent{
  margin-top: 20px;
}

@include touch {
  .cart {
    .consent-msg{
      margin: 3rem 1.5rem;
      margin-bottom: 0rem;
    }
  }
}

@include mobile {
  .cart {
    margin-bottom: 70px;
    .less-padding {
      margin-left: 0px;
    };

    .consent-msg{
      margin: 3rem 1.5rem;
      margin-bottom: 0rem;
    }

    .cont-shopping {
      display: none;
    };
  }

  .sticky{
    margin-top: 30px;
  }
}

@include desktop {
  .cart {

    .less-padding {
      padding: 1rem 1.5rem;
      padding-left: 17px;
      padding-right: 20px;
      margin-left: 20%;
    };
  }
}