.checkout{
    hr{
	    background-color: #C2C2C2;
    }

    .field{
        margin-bottom: 15px;
    }

    .control{
        margin-top: 8px;
        height: 45px;
        max-width: 456px;
    }

    .control.short{
        @include tablet{
            width: 296px;
        }
    }

    input{
        color: $natural-dark-gray;
        font-weight: bold;
        font-family: $mukta-font;
        
        &::placeholder {
            font-family: $mukta-font;
            color: $natural-gray;
            font-weight: normal;
        }
    }

    label{
        font-size: 14px;
    }
    
    input.input{
        height: 45px;
        max-width: 456px;
        border: 1px solid $dark-teal;
        border-radius: 1px;
        box-shadow: none;
        
        &.is-danger{
	        border: 1px solid $bright-red;
        }
    }

    input.input.short, div.css-vj8t7z{
        @include tablet{
            width: 296px;
        }
    }


    .input.input:focus{
        border: 3px solid $dark-teal;
    }

    .control.has-icons-left .icon, .control.has-icons-right .icon{
        height: 45px;
    }

    .css-xp4uvy{
        font-weight: normal;
    }

    .css-15k3avv{
        font-weight: normal;
    }

    .button.cta{
        height: 56px;	
        width: 286px;
        margin-top: 25px;
    }

    .button.disabled-cta{
        height: 56px;	
        width: 286px;
        margin-top: 25px;
    }

    .css-1wy0on6 {
    background-color: $dark-teal;
    width: 45px;
    padding-left: 6px;
    }

    .css-z5z6cw {
        background-color: $dark-teal;
    }

    .css-1492t68{
        font-family: $mukta-font;
        font-weight: normal;
        color: $natural-gray;
    }

    .css-2o5izw {
        border-radius: 1px;
        border-image: linear-gradient(to left, $dark-teal 0%, $dark-teal 100%);
        border-image-slice: 1;
        border-width: 4px;
        background-color: transparent;
        box-shadow: none;
        
    }
    
    .css-10nd86i{
            .css-1oubc3t{
                border-color: $dark-teal;
                
            }
            
            .css-vj8t7z{
                border-color: $dark-teal;
                border-radius: 1px 0 0 1px;
                height: 45px;   
            }

            // .css-2o5izw {
            //     border-radius: 1px 0 0 1px;
            //     border-color: $dark-teal;
            //     box-shadow:none;
                
            // }

            .css-1uq0kb5{
                background-color: $dark-teal;
                border-color: $dark-teal;
                color: white;
            }
            .css-1ou0h7t{
                border-radius: 1px;
                border-image: linear-gradient(to left, #002C73 0%, #3F9EDF 100%);
                border-image-slice: 1;
                border-width: 2px;
                background-color: transparent;
                box-shadow: none;
            }

            .css-1ep9fjw{
                background-color: $dark-teal;
                border-color: $dark-teal;
                color: white;
            }

            .css-d8oujb{
                background-color: $dark-teal;
                border-color: $dark-teal;
                width: 0px;
            }

            .css-xp4uvy{
                color: $natural-dark-gray;
                font-weight: bold;
                font-family: $mukta-font;
            }
        }

} 

label.checkbox{
	height: 17px;
	color: $natural-dark-gray;
	font-size: 17px;
	line-height: 17px;
}

input.checkbox {
    margin-right: 8px;
	height: 20px;
	width: 20px;
	border: 1px solid $natural-dark-gray;
	border-radius: 1px;

}

input:checked{
    color: #C2C2C2;
    background-color: #FFFFFF;
}

.checkout-steps {
    padding: 24px 0;
    border-top: 1px solid $natural-light-gray;
    
    .billing-step {
        padding-top: 23px;
        padding-bottom: 15px;
    }

    a {
        color: $dark-purple;
        text-decoration: underline;
    }
    
    a:hover{
        color: $pastel-purple
    }

    a:active{
        color: $dark-purple
    }
}

.review-order {
    .cart-item:first-of-type .media{
        border-top: none;
    }

    .review-place-order-cta{
        margin-top: 23px;
        width: 286px; 
    }
}
 
.place-order-cta{
    margin-top: 23px;
    margin-bottom: 11px;
    height: 56px;	
    width: 100%;
    // width: 192px;
    // width: 247px;
    padding-top: 10px;
  }

  @include mobile {
    .checkout {
      .less-padding {
        margin-left: 0px;
      };

      .button.disabled-cta{
          width: 100%;
      }

      .button.cta{
          width: 100%;
      }
    }

    .checkout-steps{
        margin-top: 25px;
        padding-bottom: 12px;
        margin-bottom: 0px;
    }

    .review-order {
        .review-place-order-cta{
            width: 100%; 
        }
    }
}