.consent{
    .name-form{
        max-width: 964.297px;
    }

    .terms-btn{
        height: 56px;
        width: 286px;
        margin-top: 15px;
        // margin-bottom: 15px;
    }

    .open-terms-btn{
        height: 56px;
        width: 286px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .modal-background {
        background: linear-gradient(270deg, $neon-blue 0%, $dark-purple 49.45%, $pastel-purple 100%);
        opacity: 0.5;
    }

    .modal-card{
        width: 90%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
            .modal-card-body{
                background-color: #BDC5D4;
                padding-top: 44px;
            }
        .consent-body{
            // height: 512.81px;
            height: 72vh;	
            // height: 697.81px;
            background-color: #FFFFFF; 
            padding: 10px 17px;
            overflow-y: scroll;
            padding-bottom: 40px;

            .consent-form{
                .placehodler{
                    color: white;
                    font-size: 14px;
                }
        
                .consent-directions{
                    margin-bottom: 0px
                }
        
                label.checkbox input[type=checkbox].checkbox {
                  border: 1px solid $natural-dark-gray;
                  background-color: #fff;
                  height: 20px;
                  width: 20px;
                  margin-top: 11px;
                  margin-right: 0;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  position: relative;
                }

                .control{
                    margin-top: 8px;
                    height: 45px;
                    max-width: 456px;
                }
            
                .control.short{
                    @include tablet{
                        width: 296px;
                    }
                }
            
                input{
                    color: $natural-dark-gray;
                    font-weight: bold;
                    font-family: $mukta-font;
                    &::placeholder {
                        font-family: $mukta-font;
                        color: $natural-gray;
                        font-weight: normal;
                    }
                }
            
                label{
                    font-size: 14px;
                }
                
                input.input{
                    height: 45px;
                    max-width: 456px;
                    border: 1px solid $dark-teal;
                    border-radius: 1px;
                    box-shadow: none;
                    
                    &.is-danger{
                        border: 1px solid $bright-red;
                    }
                }
            
                input.input.short, div.css-vj8t7z{
                    @include tablet{
                        width: 296px;
                    }
                }
            
                // .is-danger div.css-vj8t7z{
                //     border: 1px solid $bright-red;
                // }
            
                .input.input:focus{
                    border: 3px solid $dark-teal;
                    // border-radius: 1px;
                    // border-image: linear-gradient(to right, #002C73 0%, #3F9EDF 100%);
                    // border-image-slice: 1;
                    // border-width: 4px;
                }
            }
        }

        .icon{
            height: 24px;
            width: 24px;
            border: 1px solid $dark-teal;
            cursor: pointer;
            position: absolute;
            top:10px;
            right: 20px;
            background-color: white;
      
            .close-icon{
                max-width: 40%;
                padding-top: 0.5px;
            }
          }
    }
}

.consent-complete{
    position: relative;

    .circle-icon{
        display: inline;
        position: absolute;
    }

    .circle-icon-text{
        display: inline;
        position: absolute;
        left: 30px;
    }
}

@include mobile{
    .consent{
       .name-form{
           margin-top: 10px;
       }

       .open-terms-btn{
        width: 100%;
    }
    }

    .consent-complete{
        position: initial;

        .circle-icon{
            display: inline;
            position: initial;
        }
    
        .circle-icon-text{
            display: inline;
            position: absolute;
            left: 30px;
        }
    }
}