.customer-support {
    // margin-bottom: 50px;

    .section {
        height: 402px;
    }

    .content {
        margin: -0.75rem auto;
        max-width: 1300px;  
    }

    .support-description{
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .support-img {
        height: 280px;
        margin-left: 20px;
    }

    .button{
        margin-top: 20px;
        margin-right: 15px;
        height: 56px;	
        // width: 305px;	
        width: 284.36px;
        padding-top: 10px;
    }

    .support-call{
        margin-top: 15px;
        margin-bottom: 10px;
    }
}


@include mobile {
    .customer-support {
        margin-top: 25px;
        margin-bottom: 30px;

        .section {
            height: auto;
            padding-top: 0px;
            padding-bottom: 30px;
        }

        .support-msg{
            text-align: -webkit-center;
        }

        h2 {
            margin-top: 30px;
        }

        .button{
            margin-top:20px;
            padding-top:20px;
            max-width: 450px; 
            width: 100%;
            display: block
        }
    }
}