.error-page {
    .error-img{
        width: 203px;
        margin-top: 50px;
    }    
    .error-title{
        margin: auto;
        margin-bottom: 25px;
        max-width: 593px;
        // padding-top: 42px;
        // font-size: 23px;
    }

    .error-msg{
        max-width: 480px;
        margin: 30px auto;
        margin-bottom: 28px;
        font-size: 17px;
        line-height: 23px;
    }

    .error-btn-container{
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 846px;
    margin: auto;
    }

    .error-btn{
        height: 56px;	
        width: 260px;
        margin-bottom: 30px;
        padding-top: 5px;
        cursor: pointer;
    }

    .refresh-btn{
        margin-top:50px;
        margin-bottom:80px;
        height: 32px;
        width: 179px;
        border: 1px solid #C2C2C2;
        border-radius: 1px;
        background-color: #F2F2F2;
        font-size: 16px;
        font-weight: 900;
        cursor: pointer;
    }
    .customer-support{
        margin-top: 70px;
        // margin-bottom: 170px;
    }

    .watercolor-img{
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        top: 265px;
        // top: 325px;
        // top: 365px;
        z-index: -2;
        max-height: 712px;

    }
}

@include touch {
    .error-page {
        .body{
            padding: 0px 25px;
        }
        .support{
            padding: 35px 25px;
        }

        .error-btn{
            margin-bottom: 0px;
        }
        
        .watercolor-img{
            top: 370px;
            // top: 400px;
            // top: 440px;
        }

        // .customer-support{
        //     // margin-top:160px;
        //     margin-bottom: 170px;
        // }
    }    
}

@include mobile {
    .error-page {
        .body{
            padding: 0px 25px 20px;
        }

        .customer-support{
            margin-top:0px;
            // margin-bottom:30px;
        }

        .error-btn{
            width: 100%;
        }
    }
}
