.exchange-page {
        // margin-top: 62px;
        padding-bottom: 90px;
        height: 66vh;

        .exchange-title{
            padding-top: 78px;
        }
           
        .section-title{
            padding-top: 10px;
            padding-bottom: 10px;
        }

        a{
            color: $dark-purple;
            text-decoration: underline;
        }

        a:hover{
            color: $pastel-purple;
        }

        a:active{
            color: $dark-purple;
        }

        .support-column{
            padding-top: 41px;
        }

        .customer-support-box {
            margin: 0px;
            float: right;

            a{
                text-decoration: none;
            }
        }

}

@include touch {
    .exchange-page {
       padding: 0px 12px;
    }
}

@include mobile{
    .exchange-page {
        height: 100%;

        .exchange-title {
            padding-top: 55px;
        }

        .section{
            padding: 0px 12px;
        }
        
        .customer-support-box {
            float: none;
            margin: auto;
        }
    }
}
