.navbar{
    // position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;    
    padding: 0px 20px;
    height: 80px;
    background-color: $white;
    font-family: $montserrat-font;


    .navBar-logo-img {
        max-height: 42px;
        height: 42px;
        margin-bottom: 8px;
        margin-right: 50px;
    }

    .has-hover-border{
        background-color: transparent;	
    }
    .has-hover-border:hover{
        background-color: $pale-pink;	   
    }
    .has-hover-border:active{
        background-color: $pale-pink;
    }


    a {
        color: $black;
    }
    
    .navbar-item:hover{
        background-color:  transparent;
    }
    
    span.navbar-item.is-hidden-touch:hover{
        a{
            color: $black;
        }
    }

    span.navbar-item.is-hidden-touch:active{
        a{
            color: $black;
        }
    }

    .navbar-item:hover{
        background-color: transparent;
    }

    span{
        cursor:pointer;

        :hover{
        color: $dark-teal;
        }
    }    

    // .gradient-border{
    //     background-color: transparent;	
    //     border-image: linear-gradient(
    //     to left,
    //     #3F9EDF 0%,
    //     #02205F 100%
    //     ) 0 0 100% 0/0 0 3px 0;
    // }
.close-icon:hover{
    cursor: pointer;
}

.navbar-start{
    .navbar-item{
        margin-right: 50px;
        color: $dark-teal;
        padding-bottom: 0px;
    }

    .nav-btn{
        min-height: 80px;
        padding-top: 30px;
        display: block
    }

    .toggle{
        font-weight: bold;
    }
    
    .shop{
        min-width: 56px;
    }
}

.navbar-end{
    .navbar-item{
        padding-bottom: 0px;
    }
}

.cart-icon{
    // height: 25px;
    // width: 23px;
}
.cart-quant-indicator {
    div {
        position: relative;

        span {
            display: inline-block;
            position: absolute;
            width: 18px;	
            padding: 3px;
            font-size: 10px;
            font-family: $mukta-font;
            line-height: 12px;
            color: white;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 10px;
            background-color: $pastel-purple;
            top: -39px;
            left: 14px;
        }
        
        span:hover{
            background-color: $dark-purple;
            color: $natural-light-gray;
        }
    }

}
}

nav.navbar.nav-checkout{
    .phone{
        margin-right: 5px;
    }

    .navbar-item:hover{
        background-color: $natural-light-gray;
        color: $pastel-purple;
    }

    .navbar-item:active{
        color: $dark-purple;
    }

    .my-cart-link{
        // padding-top: 11px;
        padding-right: 15px;
    }
}


@include touch {
    .navbar{
        padding-top: 6px;
        padding-left: 8px;
        height: 67px;
        max-width:100%;
        background-color: $natural-light-gray;
        // padding: 11px 2px;

    }

    nav.navbar.nav-checkout{
        .mobile-main-logo {
            margin-left: 10px;
        }
        .navbar-end{
            .navbar-item{
                margin-right: 10px;
            }
        }

        .my-cart-link{
            padding-top: 11px;
            // padding-right: 15px;
        }
    }

    .navbar{
        .navbar-burger span{
            height: 2.5px;
            width: 17px;
        }

        .navbar-item:hover{
            background-color: $natural-light-gray;
        }
        
        .navbar-menu{
            .navbar-item:hover{
                background-color: #E6ECF1;
                color: $pastel-purple;
                span{
                    color: $pastel-purple;
                }
            }

            .navbar-item:active{
                background-color: #E6ECF1;
                color: $dark-purple;
                span{
                    color: $dark-purple;
                }
            }
        }

        height: 67px;
        padding: 11px 2px;

        .mobile-menu{
            padding-top: 14px;
            color: $dark-teal;
            font-size: 14px;
        }

        .sub-menu-item{
            margin-left: 23px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        // used for main navBar
        .navbar-start {
            .account-placeholder{
                height: 60px;
            }
            
            .menu{
                background-color: $natural-light-gray;
                padding-top: 17px;
                padding-bottom: 1px;
            }
            .close-btn {
                position: absolute;
                left: 200px;
                top: 0px;
                margin-right: 10px;
                margin-top: 28px;
                // margin-bottom: 30px;
                height: 24px;
                width: 24px;
                border: 1px solid $dark-teal;
                background-color: white;
                cursor: pointer;

                .close-icon{
                    max-width: 40%;
                }
            }



            .less-padding{
                margin-right: 40px;
            }
            
            .navbar-item {
                padding-top: 15px;
                padding-bottom: 15px;  
            }
            
            .border-bottom {
                border-bottom: 1px solid $natural-dark-gray;
            }

            .is-marginless-mobile{
                border-top: 1px solid $natural-dark-gray;;
                margin-right: 0px;
            }
            
            .nav-btn {
                min-height: 0px;
                margin-right: 0px;
                padding: 0px;
            }

        }

        .navbar-brand {
            display: inline-flex;
            width: 63%;
        
            .mobile-main-logo{
                display: inline-flex;
                margin-left: auto;
                padding-top: 0px;

                .logo {
                    margin-right: 0px;
                }
            }
        }
    
        .navbar-brand {
            display: inline-flex;

            .logo {
                height: 28px;
                width: 80px;
                font-size: 16px;
                padding: 0px;
                margin-right: 15px;
            }
        }

        //checkout flow
        .navbar-end{
            display: inline-flex;
            padding-top: 2px;

            .navbar-item{
                margin-right: 10px;
            }
        }

        .phone{
            bottom: 9px;
            position: absolute;
            left: -11px;
        }
    }

    .navbar-menu.is-active{
        position: absolute;
        top:-28px;
        left:-2px;
        width: 241px;
        height: 1800%;
        background-color: #E6ECF1;
        // border: 1px solid $light-blue;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }
}

@include mobile {
    nav.navbar.nav-checkout{
        .navbar-brand {
            display: inline-flex;
            width: 15%;
        }   

        .navbar-end{
            .navbar-item{
                margin-right: 10px;
        
            }
        }

        .phone{
            bottom: 9px;
            position: absolute;
            left: -11px;
        }
    }

    
    .navbar{

        .mobile-menu:hover{
            color: $pastel-purple
        }

        .mobile-menu:active{
            color: $dark-purple
        }
        
        .navBar-logo-img {
            margin-right: 10px;
        }
        
        .navbar-brand {
            display: inline-flex;
            width:63%;   
        
            .mobile-main-logo{
                display: inline-flex;
                padding-top: 0px;

                .logo {
                    margin-right: 0px;
                }
            }
        }
    }
}



@media (max-width: 600px) {
    .navbar{
        .navbar-brand {
            width: 70%;   
        }
    }
  }


@media (max-width: 375px) {
    .navbar{
        .navbar-brand {
            width: 71%;   
        }
    }
  }

  .close-icon:hover{
    cursor: pointer;
}

.navbar-burger{
    width: 49px;
}

.navbar-burger:hover{
    background: none;
}
.mobile-burger{
    margin-top: 18px;
    margin-left: 28px;
}