.order-review-items{
  .order-review-item:last-of-type {
    margin-top: 15px;
    padding-top: 15px;
  }; 
}

.order-review-item {
  position: relative;

  .item-picture {
    margin-left: 0px;
    margin-right: 22px;
  };

  .variants-column{
    padding-right: 0px;
  }

  .variants{
    margin-top: 8px;
    span {
      display: block;
    }  
  }

  .item-price-summary{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
    position: absolute;
    bottom: 3%;
  };

  .item-total-price {
    position: absolute;
    bottom: 18px;
    right: 0%;
  }

  .media {
    border-bottom: 1px solid $natural-gray;
  };
}

@include mobile {
  .order-review-item{
    margin-bottom: 20px;
    
    article:after {
      content: "";
      position: absolute;
      right: 0px;
      left: 0px;
      top: 190px;
      border-bottom: none
    }

    .media-content {
      overflow-x: visible;
      overflow-y: visible;
    }

    .media {
      margin-top: 0px;
      padding-top: 0px;
    };

    .item-price-summary{
      font-weight: normal;
      position: relative;
    };

    .item-total-price {
      bottom: 5px;
    }
  }
}