.order-summary {
  padding-top: 13px;
  border: 4px solid;
  border-radius: 1px;
  // border-image: linear-gradient(to right, #002C73 0%, #3F9EDF 100%);
  border-image: linear-gradient(270deg, $neon-blue 0%, $dark-purple 49.45%, $pastel-purple 100%) !important;
  border-image-slice: 1 !important;

  .header {
    padding: 0px 0px 20px;
  };

  .column {
    padding: 0px 12px 3px;
    // padding-left: 40px;
    font-size: 20px;
  };

  .tax-and-shipping-msg{
    font-size: 14px;
  }

  .total {
    border-top: 1px solid $natural-light-gray;
    margin-top: 9px;
    padding-top: 1px;
    padding-bottom: 8px;
    
    .column {
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  };

  a {
    margin: 4px;
  };


  form {
    .input {
      height: 32px;
      border: 1px solid $dark-teal;
      border-radius: 1px;
      font-size: 16px;
      color: $natural-dark-gray;
      font-weight: bold;
      margin-right: 0px;
      font-family: $mukta-font;
      // border-right: none; 
      
      &::placeholder {
        font-family: $mukta-font;
        font-weight: normal;
        color: $natural-gray;
    }
    };
    
    .error-form.input{
      border: 1px solid $bright-red;
    }

    .input:focus{
      border: 3px solid $dark-teal;
      // border-radius: 1px;
      // border-image: linear-gradient(to right, #002C73 0%, #3F9EDF 100%);
      // border-image-slice: 1;
      // border-width: 4px;
    }

    .button {
      height: 32px;
      width: 87px;
      margin-left: 5px;
      // padding-top: 7px;
    };

    // .submitting{
    //   color: $dark-purple;
    //   border: 2px solid $dark-purple;
    // }
  }

  .promo-applied {
    background-color: #EFF4F8;
    position: relative;

    .promo {
      padding: 12px;
      font-weight: normal;
    };

    .icon{
      height: 24px;
      width: 24px;
      border: 1px solid $dark-teal;
      background-color: white;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      .close-icon{
          max-width: 40%;
          padding-top: 0.5px;
      }
    }

    .promo-msg {
      padding: 12px;
      padding-top: 0px;
      font-weight: normal;
      margin-bottom: 0px;
      color: #40465F;
    };

    .promo-remove{
      height: 7.45px;
      width: 7.5px;
    }
  };

  .checkout-cta{
    margin-top: 23px;
    height: 56px;	
    width: 100%;
    // width: 206px;
    // padding-top: 15px;
  }
  
  .place-order-cta{
    margin-top: 23px;
    margin-bottom: 11px;
    // padding-top: 15px;
    width: 100%;
    height: 56px;	
    // width: 192px;
  }
  
  .disabled-order-cta{
      margin-top: 23px;
      margin-bottom: 11px;
      padding-top: 7px;
      height: 56px;	
      width: 100%;
      // width: 206px;
    }
  

  // .paypal-cta{
  //   height: 32px;
  //   width: 179px;
  //   border: 1px solid #C2C2C2;
  //   border-radius: 2px;
  //   background-color: #F2F2F2;
  //   font-size: 16px;
  // }

  .terms-conditions-desktop{
    margin-top: 10px;
    
    a{
      color: $dark-purple;
      text-decoration: underline;
    }

    a:hover{
      color: $pastel-purple;
    }
    
    a:active{
      color: $dark-purple;
    }
  }
}
.mobile-total {
  display: none;
}

@include mobile {
  form { 
    margin: 10px 0px;
  }

  .checkout-div{
    z-index: 1;
    background-color: #FFFFFF;	
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.3);
    border-radius: 0px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    color: $dark-teal;
    margin-top: 20px;
    // height: 125px;
    border-radius: 1px;
    border: 4px solid;
    border-radius: 1px;
    border-image: linear-gradient(270deg, #4FC5F2 0%, #614495 49.45%, #A95AA3 100%) !important;
    border-image-slice: 1 !important;
    border-width: 4px;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    

    .columns{
      max-width: 350px;
      margin: auto;
    }

    .checkout-cta{
      margin: 13px;
      margin-top: 0px;
      // width: 286px;
      width: 90%;
    }
    
    .place-order-cta{
      margin: 0px;
      margin-bottom: 10px;
      width: 90%;
      // width: 286px;
    }

    .mobile-total {
      display: inline;
      margin: 10px 0px;
      padding-bottom: 0px;
      font-size: 18px;
      color: $natural-dark-gray;
      font-weight: bold;
    };

    .extra-right-padding{
      padding-right: 45px;
    }

    a{
      color: $dark-purple;
      text-decoration: underline;
    }

    a:hover{
      color: $pastel-purple;
      text-decoration: underline;
    }
    a:active{
      color: $dark-purple;
      text-decoration: underline;
    }
  }

  .hide-div{
    bottom: -200px;
  }
};
