.order-confirmation {
  margin: 0px auto;
  padding: 5% 8%;
  padding-top: 55px;
  max-width: 1300px;
  // margin-top: 100px;

  .confirmation-msg{
    border-top: 1px solid $natural-gray;
    border-bottom: 1px solid $natural-gray;
    padding: 23px;

    p {
     margin-bottom: 0px;
    }
  }
  
  .order-details {
    margin-top: 20px;
    margin-bottom: 0px;
    
  }
  
  .order-detail-title{
    margin-bottom: 10px;
  }

  .confirmation-summary {
    border-top: 1px solid $natural-gray;
    padding-top: 16px;
  }

  .promo{
    background-color: rgb(240, 240, 240);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0px;
    line-height: 25px;
  }

  .total {
    border-top: 1px solid $natural-gray;
    margin-top: 16px;
    padding-top: 14px;
    padding-bottom: 8px;
    // font-size: 18px;
  }

  .print-option {
    a{
      color: $dark-purple;
      text-decoration: underline;
      position: relative;
      padding-right: 35px;

      img{
        position: absolute;
        top:0px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    a:hover {
      color: $pastel-purple;
    }
    a:active {
      color: $dark-purple;
    }
  }    
}


@include mobile {
  .order-confirmation {
    padding: 5% 5%;
    padding-top: 55px;

    .print-option {
      display: none;
    }

    article:after {
      display: none;
    }

    .mobile-view {
      text-align: center;
    }
  }
}