.order-confirmation-item {
  position: relative;

  .item-picture {
    margin-left: 0px;
    margin-right: 22px;
  };

  .variants-column{
    padding-right: 0px;
  }
  
  .variants{
    margin-top: 8px;
    span {
      display: block;
    } 
  }


  .item-price-summary{
    padding-top: 10px;
    position: absolute;
    bottom: 3%;
    font-weight: bold;
  };
  
  .item-total-price {
    position: absolute;
    bottom: 0%;
    right: 0%;
  }

  .media {
    border-top: 1px solid $natural-gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
  };
}


@include mobile {
  .order-confirmation-item {

    .media-content {
      overflow-x: visible;
      overflow-y: visible;
    }


  .item-price-summary{
    position: relative;
    font-weight: normal;
  };
  }
}