.checkout-flow {
    .payment{
        margin-bottom: 25px;
    }

    label.checkbox{
        input[type=checkbox].checkbox {
            border: 1px solid $natural-dark-gray;
            height: 20px;	
            width: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            position: relative;
        }

        input[type=checkbox].checkbox:checked {
            border: 1px solid $natural-dark-gray;
            // border-radius: 1px;
            // border-image: linear-gradient(to right, #002C73 0%, #3F9EDF 100%);
            // border-image-slice: 1;
            // border-width: 4px;
        }
        
        input[type=checkbox].checkbox::before {
            font-family: FontAwesome;
            content: "\f00c";
            position: absolute;
            font-size: 15px;
            color: $natural-dark-gray;
            top: 0px;
            right: 1px;
            visibility: hidden;
        }

        input[type=checkbox].checkbox:checked::before {
            /* Use `visibility` instead of `display` to avoid recalculating layout */
            visibility: visible;
        }
    }
    
    .StripeElement {
        margin: 10px 0 0px 0;
        padding: 10px 14px;
        outline: 0;
        border: 1px solid $natural-dark-gray;
        border-radius: 1px;
        background: white;
        margin-top: 8px;
        height: 45px;
        max-width: 456px;
    }
    #paymentName {
        max-width: 456px;
        display: block;
    }

    #cardElement {
        max-width: 575px;
    }
    
    #paymentName, .StripeElement {
        padding: 13px 8px;
        margin: 10px 0 0px 0;
    }
    
    .label {
        max-width: 600px;
        font-weight: bold;
        color: $natural-dark-gray;

        .StripeElement--focus{
            border: 3px solid $dark-teal;
            // border-radius: 1px;
            // border-image: linear-gradient(to right, #002C73 0%, #3F9EDF 100%);
            // border-image-slice: 1;
            // border-width: 4px;
        }

        .StripeElement--invalid{
            border: 1px solid $bright-red;
        }

        .svg-inline--fa{
            color: $dark-teal;
        }
        
    }
    
    .cardType {
        transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        margin: -15px;
        &.inline {
            position: relative;
            top: -3.35rem;
            right: 4em;
            float: right;
        }
    }
    
    .tool-tip{
        max-width: 350.78px;
        color: #40465F;
        background-color: white;
        opacity: 1;
    }
    
    .__react_component_tooltip.type-light.border {
        border: 1px solid transparent;
        box-shadow: 2px 2px 8px #888888;
        border-radius: 1px; 
        border: 4px solid #E6ECF1;
    }
    
    .__react_component_tooltip.type-light.border.place-right:before{
        border-right: 8px solid transparent;
    }
    
    .__react_component_tooltip > span{
        text-align: left;
        font-size: 12px;

    }
}

.checkout{
    .billing-form{
        margin-top: 25px;
    }
}
@include mobile {
    .checkout-flow {
        margin-top: 0px;

       .content{
            // h3{
            //     margin-bottom: 25px;
            // }
        }
    }
}