.product-catalog{
  // min-height: 577px;
  // margin-top: 100px;
  .section{
  padding-left: 0px;
  padding-right: 0px;
  }

  .product-catalog-title{
    padding-left: 1.25rem;
    padding-bottom: 13px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .product-catalog-item {
    margin-bottom: 20px;
    .box{
      box-shadow: none;
      max-width: 275px;
      padding-bottom: 0px;
      padding-top: 0px;
    }

    a{
      h4{
        text-transform: initial;
        font-weight: normal;
      }
      img {
        border: solid 4px transparent;
      }
    }

    a:hover{
      img {
        border: solid 4px $hard-pink;
      }
    }

    a:active{
      img {
        border: solid 4px $hard-pink;
      }
    }

    .product-options{
      border-bottom: 1px solid $hard-pink;
      margin-bottom: 10px;
      padding-top: 15px;
      padding-bottom: 5px;
      color: $black;
      font-family: $mukta-font;
    }

    .product-details{
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .star-rating{
      padding-left: 0px;
      padding-right: 0px;
      text-align: right;
      width: 52%;
      font-size: 15px;
      color: $dark-teal;
    }

    .star-ratings .star-container .widget-svg .star {
      fill: none;
      stroke-dasharray: 1000;
      stroke: $dark-teal;
      stroke-width: 4px;
      stroke-linejoin: round;
    }

    .pricing{
      // padding-left: 0px;
      padding-right: 0px;
    }
  }
}


@include mobile {
  .product-catalog{
    text-align: left;
    //padding-left: 50px;
    .section{
      padding-right: 7px;;
      padding-left: 5px;
    }

    .product-catalog-title{
      padding-left: 0px;
      
    }

    .columns.is-centered {
      //justify-content: left;
      margin: 0px;
    }
    
    .product-catalog-item {
      font-size: 14px;
      margin: 10px auto;
      padding-left: 0px;
      
      .box{
        max-width: 280px;
        padding-right: 0px;
        padding-left: 0px;
        margin: auto;
      }
      
      .product-image{
        min-width: 280px;
        height: 209px;
        object-fit: cover;
      }

      .star-rating{
        padding-top: 0px;
        padding-left: 0.75rem;
        padding-right: 0px;
        text-align: left;
        width: 100%;
      }
    }
  }
}

@media (max-width: 375px) {
  .product-catalog{
    text-align: left;

    padding-left: 20px;
    padding-right: 0px;
  }
}