.signup-modal{
    a{
        color: $navy;
        text-decoration: underline;
    }
    a:hover{
        color: $black;
        background-color: $soft-pink;
    }

    a:active{
        color: $black;
        background-color: $soft-pink;
    }

    h3 {
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        padding: 25px 25px;
    }

    .modal{
        .modal-background {
            background-color: rgba(0,0,0,0.45);
            opacity: .5;
        }

        .modal-card{

            .close-icon{
                height: 35px;
                width: 35px;
                background-color: $pale-pink;
                top:15px;
                right:15px;
                position: absolute;
                border: 1.5px solid $black;
                cursor: pointer;
            }

            .close{
                max-width: 40%;
                padding-top: 0.5px;
            }
            .modal-card-body{
                background: $pale-pink;
                padding: 40px;

                .signup-form {
                    margin-bottom: 40px;
                    margin-top: 10px;
                }
            }

            .form-msg{
                margin-bottom: 40px;
                margin-left: 0px;
                max-width: 400px;
            }
            
            label{
                p{
                    max-width: 450px;
                }
            }

        }
    }
}


@include mobile{
    .modal-card {
        width: initial;
        
        h3 {
            padding: 0px 25px 30px;
            line-height: 27px;
        }
        .sub-text {
            padding-bottom: 30px;
        }

        .form-btn {
            height: 49px;
            width: 220px;
        }
    }
    .signup-modal{
        .modal .modal-card .modal-card-body {
            padding-left: 20px;
        }
    }
}