.site-map-page{
    min-height: 555px;
    padding-bottom: 100px;
    height: 67vh;

    .site-map-title{
        padding-top: 78px;
    }

   .section-title{
        padding-top: 20px;
        padding-bottom: 5px;
        font-size: 18px;
        line-height: 22px;
   }

   ul{
        margin-top: 0px;
        color: $black;
        font-weight: normal;
    }

    li {
        text-transform: uppercase;
        font: $black;
    }

    p.sub-cat-title{
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    a{
        color: $black;
        text-decoration: underline;
    }

    a:hover{
        color: $black;
        text-decoration: underline;
        background-color: $pale-pink;
    }

    a:active{
        color: $black;
        text-decoration: underline;
        background-color: $pale-pink;
    }

    .customer-support-box{
        margin: 0px;
        margin-right: 25px;
    }
}

@include tablet {
    .site-map-page{
        padding-left: 25px;
    }
}

@media (max-width: 400px) {
    .column.is-6-desktop.is-6-tablet.is-6-mobile{
        width: 100%;
    }                          
}

@include mobile{
    .site-map-page{
        height: 100%;

        .main-column-padding-left{
            margin-right: 0px;
            padding-left: 25px;
        }

        .no-padding-left-mobile{
            padding-left: 0px;
        }

        .site-map-title {
            padding-top: 55px;
            padding-left: 25px;
        }
        
        .customer-support-box{
            margin: auto;
        }

        .less-margin-left{
            margin-left: 20px;
        }
    }
}