.landing-page {
    .spotlight-stat {
        min-height: 377px;
        padding-bottom: none;
        text-align: left;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-color: $hard-pink;
        position: relative;
        z-index: 0;

        .background-left {
            position: absolute;
            z-index: -1;
            height: 141px;
        }

        .background-right {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            height: 70px;
        }
        
        .content {
            margin: 0% auto;
            max-width: 1300px;
            padding: 0px 10%;

        }

        .column {
            vertical-align: center;
            padding: auto;
            margin: auto;
        }

        .section {
            padding-bottom: none;
        }

        // .column:last-child{
        //     padding-left: 6%;
        //     padding-right: 13%;
        // }

        .img {
            // max-width: 353px;
            padding-right: 40px;
        }

        .spotlight-msg {
            max-width: 440px;
            margin: auto;
            // margin-top: 14%;
            // padding-top: 20px;

            
            h3 {
                color: $navy;
                text-align: left;
                margin: 15px 15px;
                font-weight: normal;
                text-transform: uppercase;
            }

            p{
                color: $black;
                text-align: left;
                margin: 0px 15px;
            }
        }

        // .background-left {

        // }

        // .background-right {

        // }
    }
}

@include mobile {
    .landing-page {
        .spotlight-stat {
            .section{
                // padding: 0rem 3rem 1rem
            }

            h1{
                text-align: center;
            }

            h3 {
                margin: none;
            }
            .reverse-column-order {
            display: flex;
            flex-direction: column-reverse;
            }

            .mobile-spotlight-img {
                padding-top: 20px;
                max-width: 500px;
                width: 100%;
            }
            
            .content {
                padding: 0px;
                margin: 0%;
            }

            .column{
                padding: 0.75rem;
            }

            .spotlight-msg{
                text-align: center;

                h3 {
                    line-height: 27px;
                }

                p {
                    padding-bottom: 50px;
                }
        
                .button{
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}